<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <%= link_to pictures_path, class: "no-decoration" do %>
    <h5 class="navbar-brand no-decoration">SocialNetwork</h5>
  <% end %>
  <% if current_user %>
    <%= render 'users/user_icon', user: current_user %>
  <% end %>
</nav>