<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark px-1">
  <%= link_to pictures_path, class: "no-decoration" do %>
    <h5 class="navbar-brand no-decoration">SocialNetwork</h5>
  <% end %>
  <%= link_to '+ New picture', new_picture_path, class: "text-white no-decoration" %>
  <% if current_user %>
    <%= render 'users/user_preview', locals: { user: current_user, name: false } %>
  <% end %>
</nav>