<p style="color: green"><%= notice %></p>

<div class="mx-auto sm:max-w-lg sm:container h-full my-2">
  <div id="pictures" class="h-full w-full rounded-xl shadow-lg border-2 border-gray-300">
    <% @pictures.each do |picture| %>
      <%= render picture %>
    <% end %>
  </div>
</div>