<div class="card">
  <div class="card-header">
    <%= render 'users/user_preview', user: comment.user, name: true %>
  </div>
  <div class="card-body">
    <p><%= comment.content %></p>
  </div>
</div>
