<div class="card my-2">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%= render 'users/user_preview', locals: { user: comment.user, name: true, username: true, follows: false } %>
      </div>
      <div class="d-flex justify-content-space-around">
        <% if policy(comment).destroy? %>
          <div>
            <%= button_to [@picture, comment], method: :delete, class: "btn btn-danger" do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p><%= comment.content %></p>
  </div>
  <div class="card-footer">
    <span class="text-secondary my-2">
      Commented <%= time_ago_in_words(comment.created_at) %> ago
    </span>
  </div>
</div>
